<div class="container-fluid">
  <div class="panel panel-success">
    <div class="panel-heading"> New Comments </div>
    <div class="panel-body">
      <%= form_for @post do |f| %>
          <!--<div class="form-group">-->
            <!--<%#= f.label :title %>-->
            <!--<%#= f.text_field :title, class: 'form-control' %>-->
          <!--</div>-->
          <div class="form-group">
            <%= f.label :content, 'Comments' %>
            <%= f.text_area :content, class: 'form-control' %>
          </div>
          <div class="actions">
            <%= f.submit %>
          </div>
      <% end %>
    </div>
  </div>
</div>